@tailwind base;
@tailwind components;
@tailwind utilities;

/* 인쇄 모드에서 특정 요소 숨기기 */
@media print {
    .hide-on-print {
      display: none !important;
    }
  
    /* 테이블이 페이지를 넘어가면 잘리지 않도록 설정 */
    table {
      page-break-inside: auto;
    }
  
    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }
  
    /* 테이블 헤더 고정 */
    thead {
      display: table-header-group;
    }
  
    tfoot {
      display: table-footer-group;
    }
  }
  .total-row, .rate-row {
    font-weight: bold;
    background-color: #f5f5f5;
  }
  